article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

table, tr, thead, th, td, tbody, tfoot, img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

ul, li, ol {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
}

input {
  outline: 0;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

input[type='submit'], input[type='button'], button {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  overflow-y: scroll;
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 10px;
  font-family: "Segeo UI" serif;
  width: 1024px;
  background-color: #eee;
}

header .logo {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #B5B1AB;
  display: table;
  color: #fff;
  margin: 25px 0;
}
header .logo label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
}

.filter-wrapper {
  margin-bottom: 15px;
}

.title {
  float: left;
  width: 75%;
  font-size: 25px;
}

.filters {
  float: right;
  width: 25%;
  position: relative;
}
.filters button {
  width: 20px;
  height: 25px;
  padding: 0;
  margin-left: -25px;
}
.filters img {
  width: 15px;
  height: 15px;
}
.filters button.filter-icon {
  margin-left: 0;
}
.filters input[type='text'] {
  width: 80%;
  border: 1px solid #B5B1AB;
  box-sizing: border-box;
  padding: 5px;
}
.filters .filter-panel-wrapper {
  position: absolute;
  background-color: white;
  border: 1px solid #000;
  border-radius: 5px;
  width: 260px;
  z-index: 10;
  padding: 10px 10px 0 10px;
  box-shadow: 2px 2px 2px;
}
.filters .filter-panel-wrapper label {
  font-size: 15px;
}
.filters .filter-panel-wrapper .filter-category {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.filters .filter-panel-wrapper .filter-panel {
  padding-bottom: 10px;
}

.filters-panel li {
  width: 50%;
  float: left;
}

.page-content {
  width: 1024px;
  margin: 0 auto;
}

.office-layout {
  background-color: #fff;
  border: 1px solid #000;
}
.office-layout .cricle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #eee;
  position: absolute;
}
.office-layout .cricle-1 {
  left: 25px;
}
.office-layout .cricle-2 {
  right: 25px;
}
.office-layout .cricle-3 {
  left: 25px;
  bottom: 0;
}
.office-layout .cricle-4 {
  right: 25px;
  bottom: 0;
}
.office-layout .cricle.occupied-seat {
  background-color: #422719;
}
.office-layout .cricle.occupied-seat.searched-emp {
  background-color: #00B0EE;
}
.office-layout .cricle.moving, .office-layout .cricle.over {
  background-color: red;
}
.office-layout .table {
  top: 25px;
  position: absolute;
  background-color: #eee;
  width: 100%;
  height: 70%;
  border: 1px solid #fff;
  display: table;
}
.office-layout .table label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
}
.office-layout li {
  width: 28%;
  margin: 40px 25px;
  height: 175px;
  float: left;
  position: relative;
}

.tooltip-wrapper {
  position: absolute;
  z-index: 2;
  border: 1px solid #000;
  background-color: #fff;
  width: 150px;
  height: 128px;
  border-radius: 5px;
  display: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 15px;
}
.tooltip-wrapper img {
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 40px;
  vertical-align: top;
  margin-right: 10px;
  float: left;
}
.tooltip-wrapper label {
  color: #808080;
}
.tooltip-wrapper span {
  font-size: 13px;
}
.tooltip-wrapper span.emp-name {
  font-size: 15px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid #808080;
  border-bottom: 15px solid transparent;
  left: -15px;
  position: absolute;
  top: 10px;
}

.notify-employee {
  background-color: #808080;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
